@import "tailwindcss";
.invertImg {
  filter: invert(.33);
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  transition: background 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #64748b, #334155);
}

.custom-scrollbar:hover {
  scrollbar-color: #475569 transparent;
}